.tableHeader{
    padding:1vw 3vw 1vw 3vw;

  
}
.tableRow{
    background-color: rgb(223, 219, 213);
    margin: 1vw;
}

.form{
    height: 50vw;
    width:60vw;
    border-radius: 1vw;
    background-color: rgb(229, 238, 247);
}