.headerBox{
    height: 15%;
    width:100%;
    position: relative;
    background-color: rgb(6, 46, 13);
}

.headerBtn{
    background-color: transparent;
    height: 4vw;
    width: 8vw;
    border-radius: 1vw;
    color:white;
    border: none;
}

.headerBtn:hover{
    background-color: rgb(250, 239, 239);
    color: black;
}