.box{
    height: 85%;
    width: 22%;
    background-color: #052E03;
    position: absolute;
}

.navBtn{
    border: none;
    height: 20%;
    width: 100%;
    background-color: transparent;
    color: white;
}

.navBtn:hover{
    background-color: rgb(250, 239, 239);
    color: black;
}

tr {
    height: 50px;
    vertical-align: bottom;
    text-align: left;
    align-items: baseline;
  }

