.box{
    height: 85%;
    width: 22%;
    background-color: #052E03;
    position: absolute;
    
}

.navBtn{
    border: none;
    height: 20%;
    width: 100%;
    background-color: transparent;
    color: white;
}

.navBtn:hover{
    background-color: rgb(70, 119, 88);
    color: rgb(255, 255, 255);
    border-radius: 1vw;

}

tr {
    height: 5vw;
    vertical-align: bottom;
    text-align: left;
    align-items: left;

  }

 

  table{
    float: left;
  }
